body {
	/*background-color: #536691;*/
	background-image: url("http://pctechtips.org/apps/todo/img/Chicago-Wallpaper-3.jpg");
	min-height: 100vh;
	z-index: -10;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 1.3rem;
}

.card{
    background: transparent;
}

li.collection-item{
/* color: #fff; */
    background-color: transparent !important;
}

label{
    color:#fff !important;
}